name: Build and Deploy to Firebase

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.13.0'
      
      - name: Install deps
        run: flutter pub get
      
      - name: Build web
        run: flutter build web --release
      
      - name: Install Firebase Tools
        run: npm install -g firebase-tools
      
      - name: Deploy
        run: firebase deploy --project farad --token "${{ secrets.FIREBASE_TOKEN }}" --only hosting:farad
